---
layout: default
---



      <article class="post" style="margin-bottom: 5rem;">
        <div class="fb-share-button" data-href="{{site.url}}{{site.baseurl}}{{page.url}}" data-layout="button_count" data-size="large"><a target="_blank" class="fb-xfbml-parse-ignore"></a></div>
        <div class="fb-like" data-href="{{site.url}}{{site.baseurl}}{{page.url}}" data-width="40" data-layout="standard" data-action="like" data-size="large" data-share="false"></div>
        
        
        <h1>{{ page.title }}</h1>
        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>
      
        <div class="entry">
          {{ content }}
        </div>

      </article>

      <hr>

 
          <h2>Autres articles :</h2>
          <div class="card-deck">

            {% for post in site.posts %}
              <div class="card" style="min-width: 33%;margin-bottom:1rem">
                {% if post.featured-img %}
                <img src="{{site.url}}{{site.baseurl}}/images/{{post.featured-img}}" class="card-img-top" style="max-height: 20rem;"/>
                {% else %}
                <img src="{{post.featured-img-url}}" class="card-img-top" style="max-height: 20rem;" />
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.description }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><a href="{{ site.baseurl }}{{ post.url }}" >Lire la suite</a></small>
                </div>
              </div>
            {% endfor %}
          </div>
  

